<div class="flex flex-col items-center min-h-screen text-black">
  <div *ngIf="data" class="w-full p-8">
    <h1 class="text-2xl font-bold mb-6">{{ data.titulo }}</h1>
    <p class="mb-8">{{ data.descripcion }}</p>

    <ng-container *ngIf="layoutType === 'grid'">
      <div class="flex flex-col md:grid md:grid-cols-2 gap-8 mb-8">
        <div *ngIf="data.imagen" class="relative w-full">
          <img [src]="data.imagen" [alt]="data.titulo" class="w-full rounded-lg shadow-lg">
          <p *ngIf="data.creditos" class="text-xs text-gray-400 mt-2 break-words">{{ data.creditos }}</p>
        </div>

        <div class="space-y-6 mt-4 md:mt-0">
          <div *ngFor="let item of data.contenido" class="bg-white/10 rounded-lg p-4">
            <h3 class="font-semibold text-blue-300 mb-2">{{ item.nombre }}</h3>
            <p class="text-black-200">{{ item.descripcion }}</p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="layoutType === 'lista'">
      <div class="space-y-6">
        <div *ngFor="let item of data.contenido" class="bg-white/10 rounded-lg p-4">
          <h3 class="text-xl font-semibold text-blue-300 mb-2">{{ item.nombre }}</h3>
          <p class="text-gray-200">{{ item.descripcion }}</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="layoutType === 'tabs'">
    </ng-container>

    <ng-container *ngIf="layoutType === 'simple'">
      <div class="prose prose-invert max-w-none">
        <div [innerHTML]="data.contenido"></div>
      </div>
    </ng-container>

    <div *ngIf="data.textoBoton" class="absolute right-10 bottom-5">
      <button (click)="onButtonClick()"
        class="group relative inline-flex items-center px-8 py-3 text-lg font-medium text-white bg-[#8392e0] rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-all duration-200 cursor-pointer">
        {{ data.textoBoton }}
        <span class="ml-2 transform group-hover:translate-x-1 transition-transform duration-200">→</span>
      </button>
    </div>
  </div>
</div>
